notebooks/EDA-googlenews.ipynb
**/data
*.txt
*.txt.pt
!requirements.txt
*.csv
*.csv#
*.ods
*.m
*.info
notebooks/.ipynb_checkpoints
*.ods#
**/.idea
**/__pycache__
**/old
*.pyc
*.png
*.sh
**/.pytest_cache
*.ipynb
notebooks/
notebooks/**
notebooks/*.ipynb
play/**
